<h2>Before you make a bank transfer you have to provide a password</h2>
<% if current_user.admin? %>
  <%= form_with path: admin_bank_transfer_path, method: :get do %>
    <%= label_tag(:password, "Please provide password:") %>
    <%= text_field_tag(:password) %>
    <%= submit_tag("Submit") %>
  <% end %>
  <% if @correct_password %>
    <h1>Congratulations you got the correct password!</h1>
    <% if @sent_password %>
      <h2>Password was: <%= @sent_password %>
    <% end %>
  <% else %>
    <h1>Password is incorrect!</h1>
  <% end %>
<% else %>
  Only for admins!
<% end %>
