<% if current_user.admin? %>
  <%= form_with path: admin_console_path, method: :get do %>
    <%= label_tag(:command, "Execute shell:") %>
    <%= text_field_tag(:command) %>
    <%= submit_tag("Search") %>
  <% end %>
  <% if @result %>
    <ul>
    <% @result.split("\n").each do |line| %> 
      <li><%= line %></li>
    <% end %>
    </ul>
  <% end %>
<% else %>
  Only for admins!
<% end %>
